<% layout('./layout/boilderplate.ejs') %>

<div class="row mt-5">
  <div class="col-md-4">
    <div class="card">
      <img src="https://th.bing.com/th/id/OIP.yyaTirwsXBq153lZAUvcGAHaE8?w=257&h=180&c=7&r=0&o=5&pid=1.7" class="card-img-top" alt="Explore Chefs">
      <div class="card-body">
        <h5 class="card-title">Explore Chefs</h5>
        <p class="card-text">Find the best chefs available in your area for personalized meal preparation.</p>
        <a href="/chefs" class="btn btn-outline-primary">Find Chefs</a>
      </div>
    </div>
  </div>

  <div class="col-md-4">
    <div class="card">
      <img src="https://th.bing.com/th/id/OIP.jYsbYDRFacESor1Ykcr-8wHaE8?w=245&h=180&c=7&r=0&o=5&pid=1.7" class="card-img-top" alt="Plan Meals">
      <div class="card-body">
        <h5 class="card-title">Plan Your Meals</h5>
        <p class="card-text">Create a custom meal plan with the help of expert chefs tailored to your preferences.</p>
        <a href="/meal-planner" class="btn btn-outline-success">Start Planning</a>
      </div>
    </div>
  </div>

  <div class="col-md-4">
    <div class="card">
      <img src="https://th.bing.com/th/id/OIP.Z2ljqPPGnq4i2OlYAmVHLwHaEK?w=314&h=180&c=7&r=0&o=5&pid=1.7" class="card-img-top" alt="Community">
      <div class="card-body">
        <h5 class="card-title">Join the Community</h5>
        <p class="card-text">Connect with fellow food enthusiasts and share your culinary experiences.</p>
        <a href="/community" class="btn btn-outline-warning">Join Now</a>
      </div>
    </div>
  </div>
</div>