<div class="wrapper">

  <!-- Footer -->
  <footer>
    <div class="container">
      <p>&copy; 2024 CookHub Ahmedabad. All Rights Reserved.</p>
      <p>
        <a href="/privacy">Privacy Policy</a> |
        <a href="/terms">Terms of Service</a>
      </p>
      <p>
        Follow us on:
        <a href="#">Facebook</a> |
        <a href="#">Instagram</a> |
        <a href="#">Twitter</a>
      </p>
    </div>
  </footer>
</div>